/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: system-ui;
}
    
a {
    text-decoration: none;
}
    
li {
    list-style: none;
}

.title {
    font-size: 100px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 30px;
    font-weight: normal;
    margin-left: 200px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: italic;
}

.body-text {
    font-size: 18px;
    font-weight: normal;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 150%;
}

hr.divider {
    margin-left: 200px;
    margin-right: 200px;
}

/* NAVBAR STYLING STARTS */
.tdw-navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 20px !important;
    background-color: #3D3D3D !important;
    color: #fff !important;
    height: 60px !important;
}
    
.tdw-nav-links a {
    color: #fff !important;
}

.tdw-link {
    text-decoration: none !important;
}
    
/* LOGO */
.tdw-logo {
    font-size: 24px !important;
    font-weight: bold !important;
    overflow: hidden !important;
    height: 30px !important;
    vertical-align: middle !important;
    word-break: break-all !important; 
}

/* NAVBAR MENU */
.tdw-menu {
    display: flex !important;
    gap: 1em !important;
    font-size: 18px !important;
}
    
.tdw-menu li:hover {
    background-color: #4D4D4D !important;
    border-radius: 5px !important;
    transition: 0.3s ease !important;
}
    
.tdw-menu li {
    padding: 10px 20px !important;
}

input[type=text] {
    width: 300px;
    float: left;
    padding: 7px;
    padding-left: 35px;
    border: none;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui;
    border-radius: 20px;
    background-color: #F2F2F2;
    box-shadow: inset 2px 2px 20px rgba(0, 0, 0, 0.1);
}

::placeholder{
    color: #4E4E4E;
}
  
.icon {
    position: absolute;
    left: 40px;
    top: 92px;
    opacity: 40%;
}

table {
   
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 95%;
    border-collapse: separate !important;
    border-spacing:0 10px !important;
}

tr {
    height: 50px;
}

td:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

td:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
  