/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: system-ui;
}
    
a {
    text-decoration: none;
}
    
li {
    list-style: none;
}

.title {
    font-size: 100px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 30px;
    font-weight: normal;
    margin-left: 200px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: italic;
}

.body-text {
    font-size: 18px;
    font-weight: normal;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 150%;
}

hr.divider {
    margin-left: 200px;
    margin-right: 200px;
}

/* NAVBAR STYLING STARTS */
.tdw-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #3D3D3D;
    color: #fff;
    height: 60px;
}
    
.tdw-nav-links a {
    color: #fff;
}

.tdw-link {
    text-decoration: none;
}
    
/* LOGO */
.tdw-logo {
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    height: 30px;
    vertical-align: middle;
    word-break: break-all; 
}

/* NAVBAR MENU */
.tdw-menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
    
.tdw-menu li:hover {
    background-color: #4D4D4D;
    border-radius: 5px;
    transition: 0.3s ease;
}
    
.tdw-menu li {
    padding: 10px 20px;
}

input[type=text] {
    width: 300px;
    float: left;
    padding: 7px;
    padding-left: 35px;
    border: none;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui;
    border-radius: 20px;
    background-color: #F2F2F2;
    box-shadow: inset 2px 2px 20px rgba(0, 0, 0, 0.1);
}

::placeholder{
    color: #4E4E4E;
}
  
.icon {
    position: absolute;
    left: 40px;
    top: 92px;
    opacity: 40%;
}

table {
   
    margin-left: auto;
    margin-right: auto;


    padding: 10px;
    width: 95%;
}

table {
    border-collapse: separate;
    border-spacing:0 20px;
}

tr {
    height: 50px;
}

td:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

td:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

td {
    border: solid 1px #000;
    border-style: none solid solid none;
    padding: 10px;;
}

th.sortable {
    position: relative;
    cursor: pointer;
  }
  
  th.sortable::after {
    font-family: FontAwesome;
    content: "\f0dc";
    position: absolute;
    right: 8px;
    color: #999;
  }
  
  th.sortable.asc::after {
    content: "\f0d8";
  }
  
  th.sortable.desc::after {
    content: "\f0d7";
  }
  
  th.sortable:hover::after {
    color: #333;
  }
  